# MongoDB Atlas Connection String
ATLASDB_URL=mongodb+srv://ananddev:PpxXIVSYPILYgBWf@cluster0.ovdb4wk.mongodb.net/wanderlust?retryWrites=true&w=majority

# Express Session Secret
SESSION_SECRET=wanderlustsupersecretcode2026

# Environment & Server Port
NODE_ENV=production
PORT=8080
EMAIL_USER = anandnarayan9120@gmail.com
EMAIL_PASS = Shiv@2007
APP_URL=http://localhost:3000